<!-- Add Bootstrap CSS, JS, and other required dependencies in the index.html -->

<!-- Add buttons for invoking the functions -->
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <button class="btn btn-danger" (click)="countCategory()">Count Category</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="maxDiscount()">Max Discount</button>
    </div>
    <div class="col">
      <button class="btn btn-danger" (click)="priceLevel()">priceLevel</button>
    </div>
  </div>
</div>

<!-- Alert for the selected product -->
<div *ngIf="selectedProduct" class="alert alert-primary alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">{{selectedProduct.title}}</h4>
  <p>{{selectedProduct.description}}</p>
  <hr>
  <div class="row">
    <div class="col-md-4" *ngFor="let image of selectedProduct.images">
      <img [src]="image" class="img-fluid">
    </div>
  </div>
  <div class="mt-3">
    <h5>Comments</h5>
    <div *ngFor="let comment of selectedProduct.commentsprods; let i = index">
      <p #editedComment [contentEditable]="editingComment[i]" >
        {{ comment.body }}
      </p>
      <p>Posted by: {{ comment.user.username }}</p>
      <button class="btn btn-sm btn-primary" (click)="editingComment[i] = !editingComment[i]">Edit</button>
      <button class="btn btn-sm btn-primary" (click)="saveComment(i, comment, editedComment.innerText)">Save</button>
    </div>

  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="closeProductDetails()"></button>

</div>

<!-- Create the table for displaying products -->
<div class="container mt-3">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Price</th>
        <th>Discount</th>
        <th>Rating</th>
        <th>Stock</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" [ngClass]="getRowClass(product)">
        <td>{{ product.id }}</td>
        <td><img [src]="product.thumbnail" class="rounded-circle" width="50" height="50" /></td>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.discountPercentage }}</td>
        <td>{{ product.rating }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.category }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.id)">DEL</button>
          <button class="btn btn-primary btn-sm" (click)="selectProduct(product)">MORE</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
